<!DOCTYPE html>
<html lang="en" class="no-js">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <meta name="author" content="Labartisan">
    <meta name="description"
        content="Anftiz is a full-fledged NFT or Digital assets marketplace HTML template. It is suitable for selling NFTs, or non-fungible tokens, Digital Arts, Digital Music & All types of Digital Assets. You can create, sell & collect NFT’s or digital assets through this website.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags for Social Media(Better SEO) -->
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:type" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->

    <!-- site favicon -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    <!-- ====== All css file ========= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css//icofont.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- site title -->
    <title>注册界面</title>
</head>

<body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->

    <!-- ===============// header section start here \\================= -->
    <th:block th:include="common.html :: headers"></th:block>
    <!-- ===============//header section end here \\================= -->



    <!-- ==========Page Header Section Start Here========== -->
    <section class="page-header-section style-1" style="height: 100px;margin-top: 50px;">
        <div class="container" style="margin-top: -70px;">
            <div class="page-header-content">
                <div class="page-header-inner">
                    <div class="page-title">
                        <h2>注 册 </h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">主 页</a></li>
                        <li class="active">注 册  </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page Header Section Ends Here========== -->


    <!-- ==========login Section start Here========== -->
    <div class="login-section padding-top padding-bottom" style="margin-top: -130px;">
        <div class=" container">
            <div class="row g-5 align-items-center flex-md-row-reverse">
                <div class="col-lg-5">
                    <div class="account-wrapper">
                        <h3 class="title">注册</h3>
                        <form id="/user/register" action="/user/register" method="post" class="account-form">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"  name="userName" id="userName" placeholder="user-id">
                                <label for="userName">账 号</label>
                            </div>
                            <td><span th:text="${userExistError}" style="color:red;text-align:center"></span></td>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control"
                                    placeholder="Password" name="password" id="password">
                                <label for="password">密 码</label>
                            </div>
                            <td><span th:text="${passwordError}" style="color:red;text-align:center"></span></td>
                            <div class="form-group">
                                <button class="d-block default-btn move-top" type="submit"><span>注 册</span></button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="account-img">
                        <img src="/assets/images/account/re.jpg" alt="shape-image">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ==========Login Section ends Here========== -->



    <!-- ===============//footer section start here \\================= -->
    <th:block th:include="common.html :: footers"></th:block>
    <!-- ===============//footer section end here \\================= -->



    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
    <!-- scrollToTop ending here -->




    <!-- All Scripts -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/countdown.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.simpleLoadMore.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/functions.js"></script>
</body>

</html>